
// Fonts


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
}

.ql-editor {
  height: 100px;
  background-color: #fff;
}

.lead p {
  margin-bottom: 0;
}

.aside li {
  padding-left: 0;
  a.nav-link {
    padding: 0;
  }
  & + div {
    padding-left: 0.25rem;
    div {
      padding-left: 0.50rem;
    }
  }

}